
<div class="row" id="blockcarte">
  <div class="col-sm-8 col-md-3" id="carte1">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>5 brochettes boeuf fromage</h3>
        <p>prix : 5  euros</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="carte2">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>3 brochettes boulet poulet</h3>
        <p>prix : 4 euros</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="carte3">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>3 brochettes</h3>
        <p>prix</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockcarte2">
  <div class="col-sm-8 col-md-3" id="carte4">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>3 brochettes</h3>
        <p>prix</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="carte5">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>3 brochettes</h3>
        <p>prix</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="carte6">
    <div class="thumbnail">
      <img src="https://www.demotivateur.fr/images-buzz/cover/142844870256d03564cc68f_sfgsdfg.jpg" alt="...">
      <div class="caption">
        <h3>3 brochettes</h3>
        <p>prix</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>