


<div class="center container">
	<div class="jumbotron">
	  <h1>Sushi Panda</h1>
	  <p>Les meilleurs sushis !!!</p>
	  	 
	</div>
</div>

<body>
<% if @current_user %>
  <% if @current_user.try(:role) != "admin" %>
  <% flash[:error] = "Accès interdit" %>
   <% return redirect_to request.referrer || root_path %>
    <h1>Bienvenue administrateur <%= @current_user.name %> !</h1>
  <% end %>
    <h1>Bienvenue <%= @current_user.name %> !</h1>
    <%= form_tag "/login", method: :delete do %>
    <input type="submit" value="Déconnexion" />
  <% end %>
<% else %>
  
  <a href="/login">S'identifier</a>
<% end %>


<br>	
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>


