

  

    

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu A</h3>
        <p>3 brochette, 8 sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu B</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu C</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockmenu2">
  <div class="col-sm-8 col-md-3" id="menud">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu D</h3>
        <p>3 brochette, 8 sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menue">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu E</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuf">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Menu F</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Ajouter</a></p>
      </div>
    </div>
  </div>
</div>